@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

/* products */

.product{
  height: 100%;
}

.product img {
  max-width: 30rem;
  max-height: 30rem;
}

.cart-items img{
  width: 5rem;
}

.shadow-box-example {
  height: 120px;
  width: 100%;
  background-color: #64b5f6;
}